<nav class="navbar navbar-inverse">
  <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="#">FLATIRON // STORE</a>
     </div>
    <ul class="nav navbar-nav">
        <li> <%= link_to "Store Home", store_path %> </li>
        <% if !!@cart %>
          <li> <%= link_to "Cart", cart_path(@cart) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
          <li><%= link_to "Signed in as #{current_user.email}", user_path(current_user) %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %> OR <%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>

    </ul>
    </div>
</nav>