<!DOCTYPE html>
<html>
<head>
  <title>RailsFlatironStore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<%= render 'layouts/header' %>
<div class="notice"><%= notice %></div>
<div class="alert"><%= alert %></div>
 <% if user_signed_in? && !current_user.current_cart.nil? %>
    <%= link_to "Cart", cart_path(current_user.current_cart) %>
  <% end %>
<%= yield %>

</body>
</html>